.homesec{
    width:100% ;
    background-color: blue;
}

@media (max-width: 767.98px) {
  .mobile-top-space {
    position: relative;
    top: 160px; /* Adjust as needed */
  }
}


@media (max-width: 767.98px) {
  .custom-mobile-btn {
    margin-left: 0 !important;  /* Remove margin on mobile */
    display: block;
    width: 100%;                /* Optional: full-width button */
    text-align: center;
  }
}
